# You can rename this file to .env, and run `npx experience-extension upload` to package and upload your extension to Experience

EXPERIENCE_EXTENSION_UPLOAD_TOKEN=<upload-token>

# Optional to override the URL template used to open an Outlook email message
#OUTLOOK_MESSAGE_TEMPLATE_URL='https://outlook.office.com/mail/inbox/id/{id}'

# Optional to use the MS Graph API's webLink to open an Outlook email message.
# Note, this is a deep direct link to the message. There is no navigation to the Inbox
#OUTLOOK_USE_WEB_LINK=true

# Optional to use LOG_LEVEL to specify the loglevel to use for logging
#LOG_LEVEL=debug

# Optional to use LOG_LEVEL_PERSIST to denote using localStorage to remember loglevel.
# This allows the use of browser storage to persist loglevel and change the loglevel without changing the .env value.
#LOG_LEVEL_PERSIST=true

# The following are optional environment variables which can be used to setup your extension.
# View 'Utilizing the Setup API' section of the readme.md for more details.
# To utilize them, uncomment and fill out:
# EXPERIENCE_EXTENSION_ENABLED=<true/false>
# EXPERIENCE_EXTENSION_ENVIRONMENTS=<Tenant1,Tenant2> 