registry=https://artifactory.devops.ellucian.com/artifactory/api/npm/npmjs
@ellucian:registry=https://artifactory.devops.ellucian.com/artifactory/api/npm/npmjs
@eui:registry=https://artifactory.devops.ellucian.com/artifactory/api/npm/npmjs
@hedtech:registry=https://artifactory.devops.ellucian.com/artifactory/api/npm/npmjs
